
.pic {
    height: 200px;
    background: #aaa;
  }
.innercontainer {
  width: 100%;
  background-color: #ddd;
}

.skills {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}
.java {width: 70%; background-color: Orange;}
.webtechnologies {width: 65%; background-color: #2196F3;}
.python {width: 65%; background-color: #f44336;}
.sql {width: 60%; background-color: #04AA6D;}
.mongoDb {width: 50%; background-color: Violet;}
.others {width: 50%; background-color: #808080;}
.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.button5 {
  background-color: white;
  color: black;
  border: 2px solid #555555;
}