
.pic {
    height: 200px;
   
  }
.innercontainer {
  width: 100%;
  background-color: #ddd;
}

.skills {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}
.java {width: 70%; background-color: Orange;}
.webtechnologies {width: 65%; background-color: #2196F3;}
.python {width: 65%; background-color: #f44336;}
.sql {width: 60%; background-color: #04AA6D;}
.mongoDb {width: 50%; background-color: Violet;}
.others {width: 50%; background-color: #808080;}
.button {
  
  
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.button5 {
  background-color: white;
  color: black;
  border: 2px solid #555555;
}
.chat button a{
    right: 4%;
    bottom: 5%;
    position: fixed;
    
    color: black;
    font-size: large;
    text-decoration: none;
    font: bold;
    
}
.chat a img{
    right: 5%;
    bottom: 2%;
    position: fixed;
    
    color: white;
    font-size: large;
    
    width: 70px;
    height: 80px;
    
    
}
.chat button{
    border-radius: 5%;
}



.image {
    
    width: 200%;
    height: auto;
  }
  @media (max-width:641px) 
  {
      .image{
          width: 100%;
          height: auto;
      }
  }

*{
    color: black;
}
p{
    font-size: 16px;
}
li{
    font-size: 16px;
}

.button5 {
    background-color: #555555;
    border: none;
    font: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
  }
  .button5 a{
      color:white;
      text-decoration: none;
  }
  .button5:hover {opacity: 1}



  #footer {
    color:#fff;
    background:#b3acac ;
    
}
.footer-top {
    position: relative;
    padding:30px 0
}
.footer-bottom{
    background-color: #b3acac;
}
#footer .footer-bottom {
    background-color: #b3acac;
    padding: 20px 0 10px;
}

#footer .footer-bottom a:hover {
    text-decoration: underline;
}

.footer-logo {
    display: inline-block;
    margin-bottom: 5px;
}

#footer .social-icons {
    margin-top: 15px;
}

#footer .social-icons ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-block;
}
.footer-logo a{
    color:#FFFFFF;
    font-weight:700;
    font-size: 16px;
}
#footer .social-icons ul li a {
    background-color: rgba(0,0,0,.2);
    border-radius: 50%;
    line-height: 33px;
    opacity: 0.6;
}

.social-icons ul li {
    float: left;
    margin-right: 8px;
}
.social-icons ul li a {
    color: #fff;
    background-color: #d9d9d9;
    height: 36px;
    width: 36px;
    line-height: 36px;
    display: block;
    font-size: 18px;
    opacity: 0.8;
    text-decoration: none;
}
.social-icons .icon-sm:hover  {
    border-radius: 50%;
    background-color: #555555;
    font-size: 24px;
   
    line-height: 34px;
    color: #fff;
    margin-right: 10px;
    
    text-align: center;
    display: block;
    border-radius: 50%;
}

.icon-sm {
    font-size: 24px;
    height: 34px;
    width: 34px;
    line-height: 34px;
    color: #fff;
    margin-right: 10px;
    background-color: rgba(0, 0, 0, 0.4);
    text-align: center;
    display: block;
    border-radius: 50%;
    
}
